.navbar{
    height: 100vh; /* Equivalent to h-screen */
  width: 100vw; /* Equivalent to w-screen */
  padding: 2rem; /* Equivalent to p-8 */
  max-width: 1536px; /* Equivalent to max-w-screen-2xl */
  margin-left: auto; /* Equivalent to mx-auto */
  margin-right: auto; /* Equivalent to mx-auto */
  display: flex; /* Equivalent to flex */
  flex-direction: column; /* Equivalent to flex-col */
  align-items: flex-start; /* Equivalent to items-start */
  justify-content: center;
}
.project{
    height: 100vh; /* Equivalent to h-screen */
  width: 100vw; /* Equivalent to w-screen */
  padding: 2rem; /* Equivalent to p-8 */
  max-width: 1536px; /* Equivalent to max-w-screen-2xl */
  margin-left: auto; /* Equivalent to mx-auto */
  margin-right: auto; /* Equivalent to mx-auto */
  display: flex; /* Equivalent to flex */
  flex-direction: row; /* Equivalent to flex-col */
  align-items: flex-start; /* Equivalent to items-start */
  justify-content: center;
}
.navbar_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}
.about-heading {
    font-size: 3rem;
    color: white;
    font-weight: 800;
    line-height: 1.3;
  }
  
  .about-text {
    font-size: 1.25rem;
    color: #4b5563;
    margin-top: 1rem;
  }
  
  .about-button {
    background-color: #6b46c1;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 2.5rem;
    border: none;
    cursor: pointer;
  }
  .owner{
    background-color: white;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-style: italic;
    color: black;
  }
